.body {
  height: 100%;
}
.top-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.items-container {
  display: block;
  flex-flow: column;
  width: 70%;
}

.first-div {
  margin-top: 120px;
  display: flex;
  flex-flow: row;
  width: 90%;
  justify-content: space-between;
}

.cards-div {
  display: grid;
  grid-template-columns: auto auto auto;
}
.card {
  border-radius: 10px;
  border: 1px solid red;
  /* text-align: center; */
  width: 230px;
  height: 350px;
  box-shadow: 5px 5px 10px gray;
}
.card hr {
  margin-left: 20%;
  color: gray;
}
.card h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1;
  color: red;
}

.card a {
  text-decoration: none;
}
.card input {
  margin-top: 10px;
  margin-left: 10px;
}
.card label {
  font-family: 'Smooch Sans', sans-serif;
}

.card h2 {
  color: red;
  text-decoration: line-through 2px;
  margin-left: 45px;
  margin-top: 40px;
}

.left-items h1 {
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
}
#span {
  margin-left: 10px;
  color: gray;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

.left-items {
  display: inline-flex;
}

.right-items {
  width: 300px;
  display: inline-flex;
  justify-content: end;
  align-items: center;
}

.right-items i {
  margin-right: 10px;
  transform: scale(1.5);
  color: orangered;
}

.right-items i:hover {
  cursor: pointer;
  transform: scale(1.6);
}

.right-items p {
  font-size: 1.5rem;
  margin-left: 10px;
  font-family: 'Smooch Sans', sans-serif;
  color: grey;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 350px;
  margin: 30px;
  top: 35%;
  z-index: 1;
  left: 35%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid red;
  box-shadow: 10px 5px 10px rgb(202, 200, 200);
}

.pop-up input {
  box-shadow: 2px 2px 5px rgb(186, 181, 181);
  height: 30px;
  width: 250px;
  border-color: red;
  border: 1px solid red;
  border-radius: 5px;
}
.pop-up h4 {
  color: red;
}

.pop-up h3 {
  border-radius: 20px;
  font-weight: 100;
  width: 70px;
  padding: 5px;
  color: white;
  background-color: red;
}

.right-items i:focus {
  color: aqua;
}

/* trip to paris page */

.trip-container {
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 3rem;
  color: rgb(65, 51, 51);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hr-line1,
#hr-line2 {
  width: 150px;
  color: rgb(211, 187, 187);
}

#hr-line1 {
  margin-right: 20px;
  margin-left: 300px;
}
#hr-line2 {
  margin-left: 20px;
  margin-right: 300px;
}

.back-btn {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

#back-icon {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 50%;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: red;
}
.back-btn a {
  text-decoration: none;
}
.back-btn p {
  margin-left: 10px;
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
}

.trip-card {
  display: block;
  flex-flow: column;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid red;
  align-items: center;
  width: 350px;
  height: 350px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  box-shadow: 5px 5px 10px rgb(206, 203, 203);
}

.trip-card hr {
  position: relative;
  left: 25px;
  color: rgb(214, 200, 200);
  width: 300px;
}
.trip-card h2 {
  color: red;
  text-decoration: line-through 2px;
}

.trip-card span {
  position: relative;
  top: 150px;
  left: 110px;
  scale: 1.5;
  color: red;
}
.trip-card input {
  position: relative;
  top: -4px;
  right: 8px;
  transform: scale(1.4);
  margin-left: -80px;
}
.trip-card label {
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* for mobile */
@media screen and (max-width: 480px) {
  .top-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .items-container {
    width: 100%;
  }

  .first-div {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
  }
  .left-items h1 {
    display: flex;
    margin-left: 20px;
    font-size: 3rem;
  }
  /* #span {
    margin-left: 10px;
  } */
  .right-items i {
    margin-right: 0;
  }

  .right-items {
    display: flex;
  }
  .cards-div {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .card h1 {
    color: gray;
  }

  .card > h2 {
    display: none;
  }
  .card > input {
    display: none;
  }
  .card > label {
    display: none;
  }
  .card > hr {
    display: none;
  }

  .card {
    display: flex;
    width: 350px;
    justify-content: flex-start;
    border: 0;
    border-bottom: 0px;
    border-right: 0px;
    height: min-content;
  }

  .right-items p {
    display: none;
  }
  .right-items i {
    margin-right: 10px;
    transform: scale(2);
    color: orangered;
  }
  .right-items i:hover {
    transform: scale(2.3);
  }

  .trip-container h1 {
    font-size: 1.5rem;
  }

  .trip-card {
    height: 70vh;
  }

  .trip-card h2 {
    margin-top: 30px;
    font-size: 30px;
  }

  .trip-card span {
    position: relative;
    top: 40vh;
    transform: scale(1.3);
  }

  .title h1 {
    font-size: 3rem;
    margin: 0%;
    position: relative;
    top: 30px;
    text-align: center;
    width: 100%;
  }
  #hr-line1,
  #hr-line2 {
    /* width: 65px;
    color: rgb(211, 187, 187); */
    display: none;
  }
  #back-icon {
    position: absolute;
    left: 20px;
    top: 60px;
    transform: scale(1.3);
  }

  .back-btn p {
    display: none;
  }
  .trip-card {
    justify-content: center;
    width: 90vw;
  }
  .trip-card hr {
    width: 85%;
  }

  .trip-card span {
    left: 30%;
  }

  .pop-up {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80%;
    left: 10%;
    top: 40%;
  }

  .pop-up input {
    width: 80%;
  }
}
/* for tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .first-div {
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
  }
  .left-items h1 {
    display: inline;
    font-size: 2.5rem;
  }
  .left-items #span {
    display: inline;
  }
  .right-items i {
    margin-right: 0;
  }

  .right-items {
    display: flex;
    justify-content: flex-end;
  }
  .cards-div {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    gap: 20px;
  }
  .card {
    width: 80vw;
  }

  .trip-container h1 {
    font-size: 2rem;
  }
  .title {
    display: grid;

    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .title h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 40vw;
  }
  #hr-line1,
  #hr-line2 {
    width: 65px;
    color: rgb(211, 187, 187);
  }

  .trip-card {
    justify-content: center;
    width: 90vw;
  }
  .trip-card hr {
    width: 85%;
  }

  .trip-card span {
    left: 30%;
  }

  .pop-up {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
    left: 25%;
    top: 40%;
  }

  .pop-up input {
    width: 80%;
  }
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  .first-div {
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
  }
  .left-items h1 {
    display: inline;
    font-size: 2.5rem;
  }
  .left-items span {
    display: inline;
  }
  .right-items i {
    margin-right: 0;
  }

  .right-items {
    display: flex;
    justify-content: flex-end;
  }
  .cards-div {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 5vw;
  }

  .trip-container h1 {
    font-size: 2rem;
  }
  .title {
    display: grid;

    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .title h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 40vw;
  }
  #hr-line1,
  #hr-line2 {
    width: 65px;
    color: rgb(211, 187, 187);
  }

  .trip-card {
    justify-content: center;
    width: 90vw;
  }
  .trip-card hr {
    width: 85%;
  }

  .trip-card span {
    left: 30%;
  }

  .pop-up {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 40%;
    left: 30%;
    top: 0%;
  }

  .pop-up input {
    width: 80%;
  }
} */
